<div class="text-content">
  <a class="link" href="/admin"><h1>Admin Panel</h1></a>

  <p>Editing
    <span class="font-bold">{{editor}}</span>
    from
    <span class="font-bold">{{modpack.name}}</span>.</p>
</div>

<div class="grid grid-cols-3 lg:grid-cols-7">
  <button class="grid-link button-light button-active">Existing</button>
  <button class="grid-link button-light">New</button>
  <button class="grid-link button-light">Removed</button>
  <span class="hidden lg:col-span-4 lg:flex flex-row justify-end">
    <button class="grid-link ml-2">
      <span class="absolute text-xl">+</span>
    </button>
  </span>
  <div class="grid grid-cols-3 col-span-3 lg:col-span-7 lg:h-96">
    <div
      class="flex overflow-auto overscroll-none flex-row lg:flex-col col-span-3 lg:col-span-1 bg-slate-100"
      id="item_list"
    >
      <div
        id="item_{{id}}"
        class="flex flex-row shrink-0 p-2 h-16 lg:h-20 bg-slate-50"
      >
        <img class="h-full" src="/api/v1/icons/{{modpack.icon}}" alt="Icon" />
        <div class="hidden lg:flex flex-col justify-between lg:ml-2">
          <div class="flex flex-row items-center">
            <span class="text-sm font-bold">{{modpack.name}}</span>
            <span class="text-xs ml-2">{{modpack.version}}</span>
          </div>
          <span class="text-xs overflow-auto">{{modpack.description}}</span>
        </div>
      </div>
    </div>
    <div class="col-span-2 p-2" id="item_info">
      <img
        id="visible_icon"
        class="mb-2"
        src="/api/v1/icons/{{modpack.icon}}"
        alt="Icon"
      />
      <p id="visible_name" class="font-bold text-lg mb-2">{{modpack.name}}</p>
      <p id="visible_version" class="mb-2">{{modpack.version}}</p>
      <p id="visible_description" class="mb-2">{{modpack.description}}</p>
    </div>
  </div>
  <div class="lg:mt-2 col-span-3 lg:col-span-7 grid grid-cols-subgrid">
    <form
      class="lg:col-start-3 col-span-3"
      action="/admin/modpack/{{editor_id}}/update"
      method="post"
    >
      <input class="hidden" type="text" id="to_remove" value="[]" />
      <input class="hidden" type="text" id="to_add" value="[]" />
      <button class="button w-full" type="submit">Submit Changes</button>
    </form>
  </div>
</div>

<script src="/js/editor.js"></script>