<span
  class="hidden"
  id="persistant_existing"
  data-existing="{{items.ids}}"
></span>

<div class="text-content">
  <a class="link" href="/admin"><h1>Admin Panel</h1></a>

  <p>Editing
    <span class="font-bold">{{editor.name}}</span>
    from
    <span class="font-bold">{{modpack.name}}</span>.</p>
</div>

<div class="grid grid-cols-3 lg:grid-cols-7 mb-0">
  <a
    class="grid-link button-light button-active order-2 lg:order-1 col-span-2 lg:col-span-1"
    href="#"
  ><span>{{editor.name}}
      (<span id="existing_count">{{items.count}}</span>)</span></a>

  {{#each editor.others}}
    <a
      class="grid-link button-light order-1 lg:order-2"
      href="/admin/modpack/{{id}}"
    ><span>{{name}}</span></a>
  {{/each}}

  <span class="order-3 col-span-1 lg:col-span-3 flex flex-row justify-end">
    <button
      class="grid-link lg:ml-2 w-full lg:w-fit"
      onclick="toggleNewItemPopup(true);"
    >
      <span class="absolute text-xl">+</span>
    </button>
  </span>

  <div class="order-4 grid grid-cols-3 col-span-3 lg:col-span-7 lg:h-96">
    <div
      class="flex overflow-auto overscroll-none flex-row lg:flex-col col-span-3 lg:col-span-1 bg-slate-200"
      id="item_list"
    >
      <div
        id="no_items_indicator"
        class="hidden flex-row h-full items-center p-2"
      >
        <p>No
          <span class="font-bold">{{editor.name}}</span>
          to display.</p>
      </div>

      {{#each items.all}}
        <div
          data-item-id="{{project_id}}"
          data-item-name="{{project_name}}"
          data-item-versions="{{applied_versions}}"
          data-item-source="{{project_source}}"
          class="flex flex-row shrink-0 p-2 h-16 lg:h-20 hover:bg-slate-50 transition-all cursor-pointer"
          onclick="changeDisplayItem('{{project_id}}');"
        >
          <img class="h-full rounded-md" src="/api/v1/icons/temp" alt="Icon" />
          <div class="hidden lg:flex flex-col justify-between lg:ml-2">
            <span class="text-sm font-bold">{{project_name}}</span>
            <span class="text-xs font-mono">{{applied_versions}}</span>
            <span class="text-xs">{{project_source}}</span>
          </div>
        </div>
      {{/each}}
    </div>
    <div
      class="col-span-3 lg:col-span-2 p-2 bg-slate-50 overflow-auto"
      id="item_info"
    >
      <span class="hidden" id="persistant_loaded" data-loaded="none"></span>

      <div id="visible_display_indicator">
        <p>No
          <span class="font-bold">{{editor.name}}</span>
          to display.</p>
      </div>

      <div id="visible_display" class="hidden">
        <img
          id="visible_icon"
          class="mb-2 rounded-md h-32"
          src=""
          alt="Resource Icon"
        />

        <p id="visible_name" class="font-bold text-lg mb-2">Item Name</p>
        <p id="visible_description" class="mb-2">Item Description</p>

        <p class="mb-2">Versions:</p>
        <input
          class="input-text text-base w-full mb-2"
          type="text"
          id="visible_versions"
          value="Item Versions"
        />

        <div class="flex flex-row">
          <button class="button mr-2">Update</button>
          <button class="button bg-red-500 hover:bg-red-700">Remove</button>
        </div>
      </div>
    </div>
  </div>

  <div class="order-5 lg:mt-2 col-span-3 lg:col-span-7 grid grid-cols-subgrid">
    <form
      class="lg:col-start-3 col-span-3"
      action="/admin/modpack/{{editor.id}}/update"
      method="post"
    >
      <input class="hidden" type="text" id="to_remove" value="[]" />
      <input class="hidden" type="text" id="to_add" value="{}" />
      <input class="hidden" type="text" id="to_update" value="{}" />
      <button class="button w-full" type="submit">Submit Changes</button>
    </form>
  </div>
</div>

<div id="new_item_popup" class="hidden">
  <div class="fixed left-0 top-0 w-screen h-screen bg-black opacity-10"></div>
  <div
    class="fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-content p-4 my-2 bg-white w-11/12 lg:w-1/2 max-h-96 lg:max-h-none overflow-auto rounded-md"
  >
    <div class="flex flex-row justify-between items-center">
      <h2 class="m-0">Add New {{editor.name}}</h2>
      <button
        class="button bg-red-500 hover:bg-red-700 m-0 py-1 px-2 h-full"
        onclick="toggleNewItemPopup(false);"
      >X</button>
    </div>

    <hr />
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-2">
      <p class="order-1 m-0">Project ID</p>
      <p class="order-2 lg:order-1 m-0">Project Source</p>
      <p class="order-3 lg:order-1 m-0">Versions</p>
      <input
        class="order-1 lg:order-2 input-text hover:no-underline m-0"
        type="text"
        id="new_item_id"
      />
      <select
        id="new_item_source_dd"
        class="order-2 lg:order-2 input-text bg-white m-0"
        value="modrinth"
      >
        <option value="modrinth">Modrinth</option>
        <option value="raw">Raw Content</option>
      </select>
      <input
        class="order-3 lg:order-2 input-text hover:no-underline m-0"
        type="text"
        id="new_item_vers"
      />
      <div
        id="new_item_rawcontent_disp"
        class="hidden order-4 lg:col-span-3 m-0"
      >
        <p>Title</p>
        <input id="new_item_name_input" class="input-text w-full" type="text" />
        <p>Raw Content</p>
        <textarea
          class="input-text m-0 w-full text-base resize-none hover:no-underline"
          rows="10"
          id="new_item_rawcontent"
        ></textarea>
      </div>
    </div>
    <button class="button" onclick="loadNewItemFromAPI();">Load From API</button>
    <hr />
    <div class="m-0">
      <p
        class="hidden py-1 px-2 border-yellow-300 border-2 bg-yellow-100 w-fit rounded-md"
        id="new_item_indicator"
      >Successfull</p>
      <div
        class="flex flex-row shrink-0 p-2 h-20 lg:w-1/2 bg-slate-50 transition-colors rounded-md"
      >
        <img
          class="h-full rounded-md m-0"
          src="/api/v1/icons/temp"
          alt="New Item Icon"
          id="new_item_icon"
        />
        <div class="flex flex-col justify-between h-full ml-2">
          <span id="new_item_name" class="text-sm font-bold m-0">{{editor.name}}
            Item</span>
          <span id="new_item_versions" class="text-xs font-mono m-0">[No
            versions specified, this will be included in ALL versions.]</span>
          <span id="new_item_source" class="text-xs m-0">modrinth</span>
        </div>
      </div>
    </div>
    <button class="button m-0" onclick="addNewItem();">Add Item</button>
  </div>
</div>

<script src="/js/api.js"></script>
<script src="/js/editor.js"></script>