<div class="text-content">
  <a class="link" href="/admin"><h1>Admin Panel</h1></a>

  <p>Modify your Modpack Metadata</p>
</div>

<form
  action="/admin/modpack/update/modpack"
  method="post"
  enctype="multipart/form-data"
  id="form"
>
  <div class="grid grid-cols-1 md:grid-cols-5 [&>*]:mb-2">
    <p class="font-bold">Icon</p>
    <div class="md:col-span-4">
      <span class="flex flex-row items-center mb-3 h-32">
        <img class="h-full" src="{{modpack.icon}}" alt="Old Modpack Icon" />
        <span class="mx-4 text-3xl font-mono">→</span>
        <img
          class="h-full"
          id="new_image"
          src="{{modpack.icon}}"
          alt="New Modpack Icon"
        />
      </span>
      <input
        class="font-mono"
        type="file"
        accept="image/png, image/jpeg"
        name="icon"
        id="icon"
      />
    </div>
    <p class="font-bold">Title</p>
    <div class="md:col-span-4">
      <span>
        <span class="mr-2 font-mono">{{modpack.name}} →</span>
        <input
          class="input-text text-base w-full md:w-fit"
          type="text"
          name="name"
          id="name"
          value="{{modpack.name}}"
        />
      </span>
    </div>
    <p class="font-bold">Version</p>
    <div class="md:col-span-4">
      <span>
        <span class="mr-2 font-mono">{{modpack.version}} →</span>
        <input
          class="input-text text-base w-full md:w-16"
          type="text"
          name="version"
          id="version"
          value="{{modpack.version}}"
        /></span>
    </div>
    <p class="font-bold">Description</p>
    <div class="md:col-span-4">
      <textarea
        rows="6"
        class="input-text w-full text-base hover:no-underline resize-none"
        name="description"
        id="description"
      >{{modpack.description}}</textarea>
    </div>
    <div class="grid grid-cols-subgrid md:col-span-5">
      <button class="button md:col-span-1 md:col-start-3">Submit Changes</button>
    </div>
  </div>
</form>

<script src="/js/updateModpackMeta.js"></script>